{% extends 'learning_logs/base.html' %}

{% block content %}

<p>Topic: {{ topic.text }}</p>

<p>Entries:</p>
<p>
    <a href="{% url 'learning_logs:new_entry' topic.id %}">Add a new entry</a>
</p>

<ul>
    {% for entry in entries %}
    <li>
        <!-- In Django templates, a vertical line (|) represents a template filter,
            a function that modifies the value in a template variable during the rendering process.
            The filter date:'M d, Y H:i' displays timestamps in the format January 1, 2022 23:00. -->
        <p>{{ entry.date_added|date:'M d, Y H:i' }}</p>
        <!-- The filter linebreaks after text attribute ensures that long text entries 
            include line breaks in a format understood by browsers, 
            rather than showing a block of uninterrupted text.  -->
        <p>{{ entry.text|linebreaks }}</p>
        <p>
            <a href="{% url 'learning_logs:edit_entry' entry.id %}">
                Edit entry</a>
        </p>
    </li>
    {% empty %}
    <li>There are no entries for this topic yet.</li>
    {% endfor %}
</ul>

{% endblock content %}